<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login | ARM63.RU</title>
  <link rel="stylesheet" href="../static/style.css">
  <style media="screen">
  .left {
    width: 220px;
    height: auto;
    min-height: 100%;
    position: relative;
    background-image: url('./static/{{image}}');
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  </style>
</head>
<!-- partial:index.partial.html -->
<body>
  <div class="session">
    <div class="left">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg enable-background="new 0 0 300 302.5" version="1.1" viewBox="0 0 300 302.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
<style type="text/css">
	.st01{fill:#fff;}
</style>
</svg>
    </div>
    <form action="" class="log-in" method="post" autocomplete="off">
      <h4><span>Oops...</span></h4>
      We've turned off logins for now,
      while we deal with аn emergency.
      You can continue to use dashboards and other thing on a
      diferent device if you're already logged in.
      <br><br>
      <p>Session ID: {{coockieid}}</p>

    </form>

  </div>
</body>
<!-- partial -->
</html>
